apiVersion: v1
kind: Secret
metadata:
  name: airflow-secrets
  namespace: airflowsumo
type: Opaque
stringData:
  POSTGRES_USER: airflowuser
  POSTGRES_PASSWORD: ChangeThisPassword123!
  POSTGRES_DB: airflow
  AIRFLOW__CORE__FERNET_KEY: "fernet-key"
  AIRFLOW__API_AUTH__JWT_SECRET: "jwt-secret"
